DJANGO_SECRET_KEY="your_django_secret_key_here"
DEBUG="False in deployment. True while in production"
ALLOWED_HOSTS="Space separated strings consisting of your allowed host domains, enclosed within quotes."
DB_NAME="your_database's_name_here"
DB_USER="your_database_username_here"
DB_PASSWORD="your_database_password_here"
DB_HOST="your_databse_host_domain_here"
DB_PORT="your_database_port_here"
DJANGO_SUPERUSER_USERNAME="your_superuser_username_here"
DJANGO_SUPERUSER_EMAIL="your_superuser_email_here"
DJANGO_SUPERUSER_PASSWORD="your_superuser_password_here"